In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [83]:
df.loc[df['sex'] == 'Male', 'age'].mean()

39.43354749885268

In [27]:
df.loc[df['education']=='Bachelors'].shape[0]/df['education'].shape[0]

0.16446055096587942

In [87]:
higher_education = df.loc[(df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')].shape[0]
higher_education

7491

In [89]:
lower_education = higher_education = df.loc[~((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate'))].shape[0]
lower_education

25070

In [86]:
df.loc[(df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate'),'salary'][df['salary']=='>50K'].shape[0] / higher_education

0.46535843011613937

In [90]:
df.loc[~((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')),'salary'][df['salary']=='>50K'].shape[0] / lower_education

0.173713601914639

In [46]:
df['hours-per-week'].min()

1

In [91]:
df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]

20

In [92]:
df[df['hours-per-week'] == df['hours-per-week'].min()].loc[df['salary']=='>50K'].shape[0] / df.loc[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]

0.1

In [66]:
country = df.groupby('native-country').size()
country

native-country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
dtype: int64

In [68]:
country_salary = df.loc[df['salary']=='>50K'].groupby('native-country').size()
country_salary

native-country
?                      146
Cambodia                 7
Canada                  39
China                   20
Columbia                 2
Cuba                    25
Dominican-Republic       2
Ecuador                  4
El-Salvador              9
England                 30
France                  12
Germany                 44
Greece                   8
Guatemala                3
Haiti                    4
Honduras                 1
Hong                     6
Hungary                  3
India                   40
Iran                    18
Ireland                  5
Italy                   25
Jamaica                 10
Japan                   24
Laos                     2
Mexico                  33
Nicaragua                2
Peru                     2
Philippines             61
Poland                  12
Portugal                 4
Puerto-Rico             12
Scotland                 3
South                   16
Taiwan                  20
Thailand                 3
Trinadad&Tobago          2
United-States         7171
Vietnam                  5
Yugoslavia               6
dtype: int64

In [70]:
(country_salary/country).max()

0.4186046511627907

In [72]:
(country_salary/country).idxmax()

'Iran'

In [82]:
df.loc[(df['native-country']=='India') & (df['salary']== '>50K')]['occupation'].mode().to_string(index=False)

'Prof-specialty'